<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/admin/style.css" />
    <title>值班笔记</title>
  </head>
  <body>
    <div class="container">
      <div class="container-body">
        <div class="icons">
          <button type="button" onclick="location.href = '/admin'" title="重置筛选结果">
            <img src="/images/reset.svg" alt="admin" />
            <p>重置</p>
          </button>
          <button type="button" onclick="location.href = '/export'" title="导出筛选结果">
            <img src="/images/export.svg" alt="export" />
            <p>导出</p>
          </button>
          <button type="button" onclick="location.href = '/'" title="返回提交页面">
            <img src="/images/home.svg" alt="home" />
            <p>首页</p>
          </button>
          <button type="button" onclick="location.href = '/logout'" title="退出当前登录">
            <img src="/images/logout.svg" alt="logout" />
            <p>退出</p>
          </button>
          <button type="button" onclick="location.href = '/help'" title="查看帮助页面">
            <img src="/images/help.svg" alt="help" />
            <p>帮助</p>
          </button>
        </div>
        <h1>值班笔记查询</h1>
        <form class="search-box" action="/admin" method="post">
          <div class="search">
            <button type="submit"><img src="/images/search.svg" alt="search" /></button>
            <input
              type="text"
              id="command"
              name="command"
              placeholder="输入SQL语句查询结果"
              maxlength="200"
              required
              oninvalid="this.setCustomValidity('SQL语句不能为空！')"
              oninput="this.setCustomValidity('')"
              list="commands-options"
            />
            <datalist id="commands-options">
              <option value="SELECT `id`,`group`,`date`,`notes` FROM `punch`"></option>
              <option value="SELECT * FROM `punch` WHERE `group` = '电子组'"></option>
              <option value="SELECT * FROM `punch` WHERE LENGTH(`notes`) > 100"></option>
              <option value="SELECT * FROM `punch` WHERE DATE(`date`) > '2022-8-13'"></option>
              <option value="SELECT * FROM `punch` WHERE DATE(`date`) = CURRENT_DATE"></option>
              <option value="SELECT * FROM `punch` WHERE DATE(`date`) > DATE_SUB(NOW(), INTERVAL 1 WEEK)"></option>
              <option value="SELECT *, LENGTH(`notes`) as '字数' FROM `punch` WHERE `name` = 'Cael'"></option>
              <option
                value="SELECT `date` AS '日期', COUNT(*) AS '提交次数' FROM `punch` GROUP BY DATE(`date`)"
              ></option>
            </datalist>
          </div>
        </form>
        <div class="status">
          <div>今日提交:<span><%= statistics["today"] %></span></div>
          <div>本周提交:<span><%= statistics["week"] %></span></div>
          <div>总提交:<span><%= statistics["all"] %></span></div>
        </div>
        <div class="records-list">
          <table class="multi-page-table">
            <thead>
              <!-- Title -->
              <tr>
                <% Object.keys(records[0]).forEach(function(prop) { %>
                <th><%= prop %></th>
                <% }); %>
              </tr>
            </thead>
            <tbody>
              <!-- Content -->
              <% records.forEach(function(record) { %>
              <tr>
                <% Object.keys(record).forEach(function(prop) { %>
                <!-- If begin -->
                <% if(prop === "date") {%>
                <td><%= record[prop]; %></td>
                <% }else{ %>
                <td><%= record[prop]; %></td>
                <% } %>
                <!-- If end -->
                <% }); %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="footer">&copy; Copyright <%= new Date().getFullYear() %></footer>
    </div>
  </body>
</html>
